<a href="https://colab.research.google.com/github/anton-solovev/misis_DA_lessons/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Datacamp_day%E2%84%961_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Занятие 1.

In [ ]:
import pandas as pd
import numpy as np
import math
imp

In [ ]:
 kickstarter = pd.read_csv('kickstarter.csv')

In [ ]:
 kickstarter

        Unnamed: 0          ID  ... usd_goal_real     Unnamed
0                0  1000002330  ...       1533.95  1000002330
1                1  1000003930  ...      30000.00  1000003930
2                2  1000004038  ...      45000.00  1000004038
3                3  1000007540  ...       5000.00  1000007540
4                4  1000011046  ...      19500.00  1000011046
...            ...         ...  ...           ...         ...
378656      378656   999976400  ...      50000.00   999976400
378657      378657   999977640  ...       1500.00   999977640
378658      378658   999986353  ...      15000.00   999986353
378659      378659   999987933  ...      15000.00   999987933
378660      378660   999988282  ...       2000.00   999988282

[378661 rows x 17 columns]

### Какие у нас данные

- `Country` - страна проекта
- `Currency` - валюта проекта
- `ID` - идентификатор проекта
- `Launched` - дата и время регистрации проекта
- `Main Category` - основная категория проекта
- `State` - статус проекта
- `Backers` - количество спонсоров проекта
- `Goal` - сколько нужно собрать проекту, финансовая цель
- `Pledged` - собрано, в лоцальной валюте
- `Usd Pledged` - собрано в доллара США

## Первичная работа с данными

In [ ]:
kickstarter.shape

(378661, 17)

In [ ]:
kickstarter.shape[0]

378661

In [ ]:
len(kickstarter)

378661

### Вывод содержимого

<img src='http://dl4.joxi.net/drive/2020/12/02/0043/4024/2834360/60/837287f7b6.jpg'>

In [ ]:
kickstarter.head(5)

   Unnamed: 0          ID  ... usd_goal_real     Unnamed
0           0  1000002330  ...       1533.95  1000002330
1           1  1000003930  ...      30000.00  1000003930
2           2  1000004038  ...      45000.00  1000004038
3           3  1000007540  ...       5000.00  1000007540
4           4  1000011046  ...      19500.00  1000011046

[5 rows x 17 columns]

In [ ]:
kickstarter.tail(10)

        Unnamed: 0         ID  ... usd_goal_real    Unnamed
378651      378651  999969812  ...       4529.81  999969812
378652      378652  999971898  ...       2675.19  999971898
378653      378653  999972264  ...       1700.00  999972264
378654      378654  999975836  ...       6500.00  999975836
378655      378655  999976312  ...       4949.60  999976312
378656      378656  999976400  ...      50000.00  999976400
378657      378657  999977640  ...       1500.00  999977640
378658      378658  999986353  ...      15000.00  999986353
378659      378659  999987933  ...      15000.00  999987933
378660      378660  999988282  ...       2000.00  999988282

[10 rows x 17 columns]

In [ ]:
kickstarter.sample(5)

        Unnamed: 0          ID  ... usd_goal_real     Unnamed
229310      229310   235866088  ...      22011.89   235866088
31744        31744  1161316539  ...       3614.54  1161316539
142662      142662  1724974102  ...       3706.17  1724974102
373448      373448   972935487  ...      15096.05   972935487
161063      161063  1819242635  ...       1294.60  1819242635

[5 rows x 17 columns]

In [ ]:
kickstarter.columns

Index(['Unnamed: 0', 'ID', 'name', 'category', 'main_category', 'currency',
       'deadline', 'goal', 'launched', 'pledged', 'state', 'backers',
       'country', 'usd pledged', 'usd_pledged_real', 'usd_goal_real',
       'Unnamed'],
      dtype='object')

In [ ]:
kickstarter['name']

0                           The Songs of Adelaide & Abullah
1             Greeting From Earth: ZGAC Arts Capsule For ET
2                                            Where is Hank?
3         ToshiCapital Rekordz Needs Help to Complete Album
4         Community Film Project: The Art of Neighborhoo...
                                ...
378656    ChknTruk Nationwide Charity Drive 2014 (Canceled)
378657                                            The Tribe
378658    Walls of Remedy- New lesbian Romantic Comedy f...
378659                             BioDefense Education Kit
378660                    Nou Renmen Ayiti!  We Love Haiti!
Name: name, Length: 378661, dtype: object

<img src='https://bookdata.readthedocs.io/en/latest/_images/base_01_pandas_5_0.png'>

In [ ]:
kickstarter[['name','main_category']]

                                                     name main_category
0                         The Songs of Adelaide & Abullah    Publishing
1           Greeting From Earth: ZGAC Arts Capsule For ET  Film & Video
2                                          Where is Hank?  Film & Video
3       ToshiCapital Rekordz Needs Help to Complete Album         Music
4       Community Film Project: The Art of Neighborhoo...  Film & Video
...                                                   ...           ...
378656  ChknTruk Nationwide Charity Drive 2014 (Canceled)  Film & Video
378657                                          The Tribe  Film & Video
378658  Walls of Remedy- New lesbian Romantic Comedy f...  Film & Video
378659                           BioDefense Education Kit    Technology
378660                  Nou Renmen Ayiti!  We Love Haiti!           Art

[378661 rows x 2 columns]

In [ ]:
kickstarter.name

0                           The Songs of Adelaide & Abullah
1             Greeting From Earth: ZGAC Arts Capsule For ET
2                                            Where is Hank?
3         ToshiCapital Rekordz Needs Help to Complete Album
4         Community Film Project: The Art of Neighborhoo...
                                ...
378656    ChknTruk Nationwide Charity Drive 2014 (Canceled)
378657                                            The Tribe
378658    Walls of Remedy- New lesbian Romantic Comedy f...
378659                             BioDefense Education Kit
378660                    Nou Renmen Ayiti!  We Love Haiti!
Name: name, Length: 378661, dtype: object

### Вывод информации и некоторых описательных статистик

In [ ]:
 kickstarter['main_category'].unique()

array(['Publishing', 'Film & Video', 'Music', 'Food', 'Design', 'Crafts',
       'Games', 'Comics', 'Fashion', 'Theater', 'Art', 'Photography',
       'Technology', 'Dance', 'Journalism'], dtype=object)

In [ ]:
 kickstarter['country'].unique()

array(['GB', 'US', 'CA', 'AU', 'NO', 'IT', 'DE', 'IE', 'MX', 'ES', 'N,0"',
       'SE', 'FR', 'NL', 'NZ', 'CH', 'AT', 'DK', 'BE', 'HK', 'LU', 'SG',
       'JP'], dtype=object)

In [ ]:
len( kickstarter['country'].unique())

23

In [ ]:
 kickstarter['main_category'].value_counts()

Film & Video    63585
Music           51918
Publishing      39874
Games           35231
Technology      32569
Design          30070
Art             28153
Food            24602
Fashion         22816
Theater         10913
Comics          10819
Photography     10779
Crafts           8809
Journalism       4755
Dance            3768
Name: main_category, dtype: int64

In [ ]:
 kickstarter['main_category'].value_counts(normalize=True)*100

Film & Video    16.792065
Music           13.710945
Publishing      10.530263
Games            9.304101
Technology       8.601097
Design           7.941140
Art              7.434882
Food             6.497104
Fashion          6.025442
Theater          2.881997
Comics           2.857173
Photography      2.846610
Crafts           2.326355
Journalism       1.255741
Dance            0.995085
Name: main_category, dtype: float64

In [ ]:
 kickstarter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        378661 non-null  int64
 1   ID                378661 non-null  int64
 2   name              378657 non-null  object
 3   category          378661 non-null  object
 4   main_category     378661 non-null  object
 5   currency          359728 non-null  object
 6   deadline          378661 non-null  object
 7   goal              378661 non-null  float64
 8   launched          378661 non-null  object
 9   pledged           378661 non-null  float64
 10  state             378661 non-null  object
 11  backers           378472 non-null  float64
 12  country           378661 non-null  object
 13  usd pledged       374864 non-null  float64
 14  usd_pledged_real  378661 non-null  float64
 15  usd_goal_real     378661 non-null  float64
 16  Unnamed           378661 non-null  int64
dtypes: float64(6), int64(3), object(8)
memory usage: 49.1+ MB

In [ ]:
kickstarter['goal'].describe()

count    3.786610e+05
mean     4.908079e+04
std      1.183391e+06
min      1.000000e-02
25%      2.000000e+03
50%      5.200000e+03
75%      1.600000e+04
max      1.000000e+08
Name: goal, dtype: float64

In [ ]:
 kickstarter.describe()

          Unnamed: 0            ID  ...  usd_goal_real       Unnamed
count  378661.000000  3.786610e+05  ...   3.786610e+05  3.786610e+05
mean   189330.000000  1.074731e+09  ...   4.545440e+04  1.074731e+09
std    109310.159478  6.190862e+08  ...   1.152950e+06  6.190862e+08
min         0.000000  5.971000e+03  ...   1.000000e-02  5.971000e+03
25%     94665.000000  5.382635e+08  ...   2.000000e+03  5.382635e+08
50%    189330.000000  1.075276e+09  ...   5.500000e+03  1.075276e+09
75%    283995.000000  1.610149e+09  ...   1.550000e+04  1.610149e+09
max    378660.000000  2.147476e+09  ...   1.663614e+08  2.147476e+09

[8 rows x 9 columns]

In [ ]:
kickstarter['main_category'].describe()

count           378661
unique              15
top       Film & Video
freq             63585
Name: main_category, dtype: object

### Срезы данных

In [ ]:
kickstarter.iloc[10:15]

    Unnamed: 0          ID  ... usd_goal_real     Unnamed
10          10   100004721  ...       2406.39   100004721
11          11   100005484  ...      12500.00   100005484
12          12  1000055792  ...       5000.00  1000055792
13          13  1000056157  ...     200000.00  1000056157
14          14  1000057089  ...       6469.73  1000057089

[5 rows x 17 columns]

In [ ]:
kickstarter.iloc[10:20:2]

    Unnamed: 0          ID  ... usd_goal_real     Unnamed
10          10   100004721  ...       2406.39   100004721
12          12  1000055792  ...       5000.00  1000055792
14          14  1000057089  ...       6469.73  1000057089
16          16  1000064918  ...       1500.00  1000064918
18          18  1000070642  ...        250.00  1000070642

[5 rows x 17 columns]

In [ ]:
kickstarter.iloc[100:90:-1]

     Unnamed: 0          ID  ... usd_goal_real     Unnamed
100         100  1000405957  ...        500.00  1000405957
99           99  1000399155  ...       5000.00  1000399155
98           98   100039820  ...      19632.48   100039820
97           97  1000392220  ...       2000.00  1000392220
96           96  1000389241  ...       3000.00  1000389241
95           95  1000386601  ...       1500.00  1000386601
94           94  1000374001  ...      10000.00  1000374001
93           93    10003650  ...      15000.00    10003650
92           92  1000354338  ...       2000.00  1000354338
91           91  1000348776  ...       4289.00  1000348776

[10 rows x 17 columns]

In [ ]:
kickstarter.iloc[10:15,2:5]

                                                 name  ... main_category
10                                Of Jesus and Madmen  ...    Publishing
11                                   Lisa Lim New CD!  ...         Music
12                                 The Cottage Market  ...        Crafts
13  G-Spot Place for Gamers to connect with eachot...  ...         Games
14  Tombstone: Old West tabletop game and miniatur...  ...         Games

[5 rows x 3 columns]

In [ ]:
kickstarter.loc[4:15,'name']

4     Community Film Project: The Art of Neighborhoo...
5                                  Monarch Espresso Bar
6     Support Solar Roasted Coffee & Green Energy!  ...
7     Chaser Strips. Our Strips make Shots their B*tch!
8     SPIN - Premium Retractable In-Ear Headphones w...
9     STUDIO IN THE SKY - A Documentary Feature Film...
10                                  Of Jesus and Madmen
11                                     Lisa Lim New CD!
12                                   The Cottage Market
13    G-Spot Place for Gamers to connect with eachot...
14    Tombstone: Old West tabletop game and miniatur...
15                                       Survival Rings
Name: name, dtype: object

In [ ]:
kickstarter.loc[4:15,['name','main_category']]

                                                 name main_category
4   Community Film Project: The Art of Neighborhoo...  Film & Video
5                                Monarch Espresso Bar          Food
6   Support Solar Roasted Coffee & Green Energy!  ...          Food
7   Chaser Strips. Our Strips make Shots their B*tch!          Food
8   SPIN - Premium Retractable In-Ear Headphones w...        Design
9   STUDIO IN THE SKY - A Documentary Feature Film...  Film & Video
10                                Of Jesus and Madmen    Publishing
11                                   Lisa Lim New CD!         Music
12                                 The Cottage Market        Crafts
13  G-Spot Place for Gamers to connect with eachot...         Games
14  Tombstone: Old West tabletop game and miniatur...         Games
15                                     Survival Rings        Design

In [ ]:
kickstarter.loc[kickstarter['main_category']=='Games']

        Unnamed: 0          ID  ... usd_goal_real     Unnamed
13              13  1000056157  ...     200000.00  1000056157
14              14  1000057089  ...       6469.73  1000057089
43              43  1000170964  ...       1500.00  1000170964
48              48  1000190427  ...       3000.00  1000190427
59              59  1000232288  ...      25000.00  1000232288
...            ...         ...  ...           ...         ...
378587      378587   999618790  ...       3797.66   999618790
378592      378592     9996452  ...     359264.23     9996452
378631      378631   999832803  ...      10000.00   999832803
378642      378642   999929142  ...       1165.70   999929142
378648      378648   999955533  ...        500.00   999955533

[35231 rows x 17 columns]

In [ ]:
kickstarter.loc[kickstarter['main_category']=='Games']['name']

13        G-Spot Place for Gamers to connect with eachot...
14        Tombstone: Old West tabletop game and miniatur...
43        Penny Bingo Playing Card Game fun for the whol...
48                                             Seas of Iron
59                                           Empires at Sea
                                ...
378587                                   Cloud Game Hosting
378592    Onit Saves The World! Let's make this game one...
378631    MONSTROCARDS- A Creative Drawing Game of Horri...
378642    ÉPOUVANTAILS : 28mm Figurines de jeux pour KIN...
378648          Cards and Chit Network Season 2! (Canceled)
Name: name, Length: 35231, dtype: object

In [ ]:
kickstarter.loc[kickstarter['main_category']!='Games']

        Unnamed: 0          ID  ... usd_goal_real     Unnamed
0                0  1000002330  ...       1533.95  1000002330
1                1  1000003930  ...      30000.00  1000003930
2                2  1000004038  ...      45000.00  1000004038
3                3  1000007540  ...       5000.00  1000007540
4                4  1000011046  ...      19500.00  1000011046
...            ...         ...  ...           ...         ...
378656      378656   999976400  ...      50000.00   999976400
378657      378657   999977640  ...       1500.00   999977640
378658      378658   999986353  ...      15000.00   999986353
378659      378659   999987933  ...      15000.00   999987933
378660      378660   999988282  ...       2000.00   999988282

[343430 rows x 17 columns]

In [ ]:
kickstarter['main_category']=='Games'

0         False
1         False
2         False
3         False
4         False
          ...
378656    False
378657    False
378658    False
378659    False
378660    False
Name: main_category, Length: 378661, dtype: bool

In [ ]:
kickstarter.loc[(kickstarter['main_category']=='Games') & (kickstarter['goal']>10000)]

        Unnamed: 0          ID  ... usd_goal_real     Unnamed
13              13  1000056157  ...     200000.00  1000056157
59              59  1000232288  ...      25000.00  1000232288
73              73  1000278154  ...      13000.00  1000278154
79              79  1000328150  ...      50000.00  1000328150
81              81  1000331311  ...      13000.00  1000331311
...            ...         ...  ...           ...         ...
378538      378538   999350480  ...     900000.00   999350480
378546      378546   999402669  ...      50000.00   999402669
378549      378549   999414644  ...      33000.00   999414644
378563      378563   999484338  ...      16420.54   999484338
378592      378592     9996452  ...     359264.23     9996452

[14059 rows x 17 columns]

In [ ]:
kickstarter.query('main_category=="Games"')

        Unnamed: 0          ID  ... usd_goal_real     Unnamed
13              13  1000056157  ...     200000.00  1000056157
14              14  1000057089  ...       6469.73  1000057089
43              43  1000170964  ...       1500.00  1000170964
48              48  1000190427  ...       3000.00  1000190427
59              59  1000232288  ...      25000.00  1000232288
...            ...         ...  ...           ...         ...
378587      378587   999618790  ...       3797.66   999618790
378592      378592     9996452  ...     359264.23     9996452
378631      378631   999832803  ...      10000.00   999832803
378642      378642   999929142  ...       1165.70   999929142
378648      378648   999955533  ...        500.00   999955533

[35231 rows x 17 columns]

In [ ]:
kickstarter.query('main_category=="Games" and goal>10000')

        Unnamed: 0          ID  ... usd_goal_real     Unnamed
13              13  1000056157  ...     200000.00  1000056157
59              59  1000232288  ...      25000.00  1000232288
73              73  1000278154  ...      13000.00  1000278154
79              79  1000328150  ...      50000.00  1000328150
81              81  1000331311  ...      13000.00  1000331311
...            ...         ...  ...           ...         ...
378538      378538   999350480  ...     900000.00   999350480
378546      378546   999402669  ...      50000.00   999402669
378549      378549   999414644  ...      33000.00   999414644
378563      378563   999484338  ...      16420.54   999484338
378592      378592     9996452  ...     359264.23     9996452

[14059 rows x 17 columns]

In [ ]:
slice_data = kickstarter.query('main_category=="Games" and goal>10000')

In [ ]:
slice_data

        Unnamed: 0          ID  ... usd_goal_real     Unnamed
13              13  1000056157  ...     200000.00  1000056157
59              59  1000232288  ...      25000.00  1000232288
73              73  1000278154  ...      13000.00  1000278154
79              79  1000328150  ...      50000.00  1000328150
81              81  1000331311  ...      13000.00  1000331311
...            ...         ...  ...           ...         ...
378538      378538   999350480  ...     900000.00   999350480
378546      378546   999402669  ...      50000.00   999402669
378549      378549   999414644  ...      33000.00   999414644
378563      378563   999484338  ...      16420.54   999484338
378592      378592     9996452  ...     359264.23     9996452

[14059 rows x 17 columns]

### Удаление и переименовывание столбцов

In [ ]:
 kickstarter.columns

Index(['Unnamed: 0', 'ID', 'name', 'category', 'main_category', 'currency',
       'deadline', 'goal', 'launched', 'pledged', 'state', 'backers',
       'country', 'usd pledged', 'usd_pledged_real', 'usd_goal_real',
       'Unnamed'],
      dtype='object')

In [ ]:
 kickstarter = kickstarter.drop(columns=['ID','Unnamed: 0','Unnamed'])

KeyError: ignored

In [ ]:
kickstarter.columns

Index(['name', 'category', 'main_category', 'currency', 'deadline', 'goal',
       'launched', 'pledged', 'state', 'backers', 'country', 'usd pledged',
       'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

In [ ]:
kickstarter['new_column']  = 'vfewe'

In [ ]:
kickstarter.drop(columns='new_column', inplace=True)

### Обработка пропусков и дубликатов

In [ ]:
 kickstarter.duplicated().sum()

0

In [ ]:
data = pd.DataFrame([[1,2,3],[1,5,6],[1,2,3]],columns=['a','b','c'])

In [ ]:
data

   a  b  c
0  1  2  3
1  1  5  6
2  1  2  3

In [ ]:
data.duplicated().sum()

1

In [ ]:
print(data.duplicated())

0    False
1    False
2     True
dtype: bool

In [ ]:
data.loc[data.duplicated()]

   a  b  c
2  1  2  3

In [ ]:
data.loc[~data.duplicated()]

   a  b  c
0  1  2  3
1  1  5  6

In [ ]:
 data.drop_duplicates(inplace=True)

In [ ]:
 data

   a  b  c
0  1  2  3
1  1  5  6

In [ ]:
kickstarter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              378657 non-null  object
 1   category          378661 non-null  object
 2   main_category     378661 non-null  object
 3   currency          359728 non-null  object
 4   deadline          378661 non-null  object
 5   goal              378661 non-null  float64
 6   launched          378661 non-null  object
 7   pledged           378661 non-null  float64
 8   state             378661 non-null  object
 9   backers           378472 non-null  float64
 10  country           378661 non-null  object
 11  usd pledged       374864 non-null  float64
 12  usd_pledged_real  378661 non-null  float64
 13  usd_goal_real     378661 non-null  float64
dtypes: float64(6), object(8)
memory usage: 40.4+ MB

In [ ]:
 kickstarter.isna().sum()

name                    4
category                0
main_category           0
currency            18933
deadline                0
goal                    0
launched                0
pledged                 0
state                   0
backers               189
country                 0
usd pledged          3797
usd_pledged_real        0
usd_goal_real           0
dtype: int64

In [ ]:
kickstarter.loc[kickstarter['name'].isna()]

       name        category  ... usd_pledged_real usd_goal_real
166851  NaN  Narrative Film  ...           100.00     200000.00
307234  NaN     Video Games  ...           316.05       3224.97
309991  NaN  Product Design  ...             0.00       2500.00
338931  NaN        Painting  ...           220.00      35000.00

[4 rows x 14 columns]

In [ ]:
kickstarter.dropna(subset=['name'],inplace=True)

In [ ]:
kickstarter.isna().sum()

name                    0
category                0
main_category           0
currency            18933
deadline                0
goal                    0
launched                0
pledged                 0
state                   0
backers               189
country                 0
usd pledged          3797
usd_pledged_real        0
usd_goal_real           0
dtype: int64

In [ ]:
kickstarter.dropna(subset=['usd pledged'],inplace=True)

In [ ]:
kickstarter.dropna(subset=['backers'],inplace=True)

In [ ]:
kickstarter.isna().sum()

name                    0
category                0
main_category           0
currency            18762
deadline                0
goal                    0
launched                0
pledged                 0
state                   0
backers                 0
country                 0
usd pledged             0
usd_pledged_real        0
usd_goal_real           0
dtype: int64

In [ ]:
data = pd.DataFrame([[1,2, ],[1,6],[1,2,3]],columns=['a','b','c'])

In [ ]:
data

   a  b    c
0  1  2  NaN
1  1  6  NaN
2  1  2  3.0

In [ ]:
data['c'].fillna(45)

0    45.0
1    45.0
2     3.0
Name: c, dtype: float64

### Особенность питона

In [ ]:
a = [1,2,3]
b = a.copy()

In [ ]:
a.append(12)

In [ ]:
a

[1, 2, 3, 12]

In [ ]:
b

[1, 2, 3]

### Работа с датой

In [ ]:
kickstarter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374673 entries, 0 to 378660
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              374673 non-null  object
 1   category          374673 non-null  object
 2   main_category     374673 non-null  object
 3   currency          355911 non-null  object
 4   deadline          374673 non-null  object
 5   goal              374673 non-null  float64
 6   launched          374673 non-null  object
 7   pledged           374673 non-null  float64
 8   state             374673 non-null  object
 9   backers           374673 non-null  float64
 10  country           374673 non-null  object
 11  usd pledged       374673 non-null  float64
 12  usd_pledged_real  374673 non-null  float64
 13  usd_goal_real     374673 non-null  float64
dtypes: float64(6), object(8)
memory usage: 42.9+ MB

In [ ]:
kickstarter['launched'] = pd.to_datetime(kickstarter['launched'])
kickstarter['deadline'] = pd.to_datetime(kickstarter['deadline'])

### Выделяем отдельно стобцы с днями, месяцами и т.д.

In [ ]:
kickstarter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374673 entries, 0 to 378660
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              374673 non-null  object
 1   category          374673 non-null  object
 2   main_category     374673 non-null  object
 3   currency          355911 non-null  object
 4   deadline          374673 non-null  datetime64[ns]
 5   goal              374673 non-null  float64
 6   launched          374673 non-null  datetime64[ns]
 7   pledged           374673 non-null  float64
 8   state             374673 non-null  object
 9   backers           374673 non-null  float64
 10  country           374673 non-null  object
 11  usd pledged       374673 non-null  float64
 12  usd_pledged_real  374673 non-null  float64
 13  usd_goal_real     374673 non-null  float64
dtypes: datetime64[ns](2), float64(6), object(6)
memory usage: 42.9+ MB

In [ ]:
kickstarter['launched'].describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

count                  374673
unique                 374112
top       1970-01-01 01:00:00
freq                        7
first     1970-01-01 01:00:00
last      2018-01-02 15:02:31
Name: launched, dtype: object

In [ ]:
kickstarter.head()

                                                name  ... usd_goal_real
0                    The Songs of Adelaide & Abullah  ...       1533.95
1      Greeting From Earth: ZGAC Arts Capsule For ET  ...      30000.00
2                                     Where is Hank?  ...      45000.00
3  ToshiCapital Rekordz Needs Help to Complete Album  ...       5000.00
4  Community Film Project: The Art of Neighborhoo...  ...      19500.00

[5 rows x 14 columns]

In [ ]:
kickstarter['year'] = kickstarter['launched'].dt.year
kickstarter['month'] = kickstarter['launched'].dt.month
kickstarter['dayofweek'] = kickstarter['launched'].dt.dayofweek
kickstarter['day'] = kickstarter['launched'].dt.day
kickstarter['hour'] = kickstarter['launched'].dt.hour

In [ ]:
kickstarter.head()

                                                name        category  ... day hour
0                    The Songs of Adelaide & Abullah          Poetry  ...  11   12
1      Greeting From Earth: ZGAC Arts Capsule For ET  Narrative Film  ...   2    4
2                                     Where is Hank?  Narrative Film  ...  12    0
3  ToshiCapital Rekordz Needs Help to Complete Album           Music  ...  17    3
4  Community Film Project: The Art of Neighborhoo...    Film & Video  ...   4    8

[5 rows x 19 columns]

## Работа с типами данных. Группировка и агрегация

### Преобразование типов данных

Используем метод `astype(тип_данных)`

In [ ]:
kickstarter.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 374673 entries, 0 to 378660
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   name              374673 non-null  object
 1   category          374673 non-null  object
 2   main_category     374673 non-null  object
 3   currency          355911 non-null  object
 4   deadline          374673 non-null  datetime64[ns]
 5   goal              374673 non-null  float64
 6   launched          374673 non-null  datetime64[ns]
 7   pledged           374673 non-null  float64
 8   state             374673 non-null  object
 9   backers           374673 non-null  float64
 10  country           374673 non-null  object
 11  usd pledged       374673 non-null  float64
 12  usd_pledged_real  374673 non-null  float64
 13  usd_goal_real     374673 non-null  float64
 14  year              374673 non-null  int64
 15  month             374673 non-null  int64
 16  dayofweek         374673 non-null  int64
 17  day               374673 non-null  int64
 18  hour              374673 non-null  int64
dtypes: datetime64[ns](2), float64(6), int64(5), object(6)
memory usage: 57.2+ MB

In [ ]:
kickstarter = kickstarter.reset_index()

In [ ]:
%%time
kickstarter['usd pledged'] = kickstarter['usd pledged'].apply(math.ceil)

CPU times: user 125 ms, sys: 4 ms, total: 129 ms
Wall time: 131 ms

In [ ]:
%%time
kickstarter['usd pledged'] = np.ceil(kickstarter['usd pledged'])

CPU times: user 6.23 ms, sys: 5 µs, total: 6.23 ms
Wall time: 5 ms

In [ ]:
%%time
for i in range(0,len(kickstarter)):
  kickstarter['usd pledged'][i] = math.ceil(kickstarter['usd pledged'][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

CPU times: user 30.4 s, sys: 138 ms, total: 30.6 s
Wall time: 30.5 s

In [ ]:
math.ceil(5.5)

6

In [ ]:
kickstarter['goal'] = kickstarter['goal'].astype('')

In [ ]:
kickstarter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374673 entries, 0 to 374672
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             374673 non-null  int64
 1   name              374673 non-null  object
 2   category          374673 non-null  object
 3   main_category     374673 non-null  object
 4   currency          355911 non-null  object
 5   deadline          374673 non-null  datetime64[ns]
 6   goal              374673 non-null  int64
 7   launched          374673 non-null  datetime64[ns]
 8   pledged           374673 non-null  float64
 9   state             374673 non-null  object
 10  backers           374673 non-null  float64
 11  country           374673 non-null  object
 12  usd pledged       374673 non-null  float64
 13  usd_pledged_real  374673 non-null  float64
 14  usd_goal_real     374673 non-null  float64
 15  year              374673 non-null  int64
 16  month             374673 non-null  int64
 17  dayofweek         374673 non-null  int64
 18  day               374673 non-null  int64
 19  hour              374673 non-null  int64
dtypes: datetime64[ns](2), float64(5), int64(7), object(6)
memory usage: 57.2+ MB

### Округляем данные

Есть несколько стандартных методов (библиотека math) и не очень стандартных:)

### Использование функции aplly

Как мы привыкли работать через циклы, делать не надо) Это зло!

### Группировка данных

<img src='https://pbpython.com/images/transform-example.png'>

Группировка задается командной `groupbe(столбцы).[столбец_для агрегации].функция_агрегации`

##### Группировка и агрегация для опеределенного столбца

##### Сбросим индексы

Для этого используется метод `reset_index()`

##### Попробуем сортировку

Используется метод `sort_values(by=имя_столбца)`

##### А что если мы хотим задать порядок сортировки?

##### Поупражняемся)

In [ ]:
# группировка по нескольким столбцам

In [ ]:
 # добавляем несколько функций агрегации

##### Какие дни, часы популярны для оформления заявок)

##### Что там у нас с категориями?

### Работа со сводными таблицами

Для работы используется конструкция 
`pivot_table(index=имя_столбцы, columns=опционально, values=столбец_для_агрегирования, aggfunc=функция_агрегирования)`

##### Потренируемся

In [ ]:
# индексация по нескольким столбцам

In [ ]:
# добавление параметра columns

In [ ]:
# несколько функций агрегации